<section id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h3>Hibalady</h3>
			</div>
			<div class="col-md-4">
				<h3>Contactez-nous</h3>
				<div>Adresse : Amboditsiry</div>
				<div>Téléphone : 033 17 890 68</div>
				<div>email : contact@hibalady.mg</div>
			</div>
			<div class="col-md-4">
				<h3>Suivez-nous</h3>
				Restez connecté avec nous à travers les réseaux sociaux pour les dernières mises à jour et inspirations :

				<div>Facebook : Hibalady</div>
				<div>Instagram : Hibaladyy</div>
			</div>
		</div>
	</div>
</section>